.syllabus {
  color: #363b42;
  background-color: white;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  margin-top: 65px;
}


.syllabus-title {
  font-size: 24px;
  text-align: center;
}

.rating {
  font-size: 14px;
  letter-spacing: .25px;
}

.rating-thumb {
  fill: #F7BB56;
}

.rating-info {
  fill: #363B42;
}

.rating-svg {
  height: 15px;
  width: 15px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -2px;
}

.week {
  display: grid;
  grid-template-columns: 150px 750px;
  font-size: 13px;
  font-weight: 500;
}

.weeks {
  margin-top: 70px;
}

.week-title {
  padding-top: 15px;
  padding-left: 35px;
  padding-right: 15px;
  text-align: center;
}

.week-literal {
  font-size: 0.875rem;;
  float: left;
  letter-spacing: 4px;
}

.week-number {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 3.75rem;
  font-weight: lighter;
}

.lessons {
  width: 100%;
}

.lesson {
  margin-top: 20px;
}

.lesson-materials-readings-svg {
  height: 50px;
}

.lesson-hours-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #6e767f;
}

.lesson-hours {
  display: grid;
  grid-template-columns: 50px 750px;
}

.lesson-materials .lesson-name {
  width: 100%;
  margin: 15px;
  padding: 15px;
}

.lesson-name {
  margin-top: 25px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 20px;
}

.lesson-materials {
  display: grid;
  grid-template-columns: 50px 300px 150px;
  margin-top: 35px;
  margin-bottom: 40px;

}

.lesson-materials-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #6e767f;
}

.see-all-button {
  border: none;
  color: rgb(42, 115, 204);
  background: white;
  font-weight: 600;
  text-align: center;
  font-size: 0.6rem;
  box-sizing: border-box;
}

.lesson-description {
  color: #373a3c;
  line-height: 1.5;
  font-size: 14px;
}

.orange-circle, .blue-circle {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%; /* or 50% */
  margin-top: -12px;
}

.orange-circle {
  background-image: linear-gradient(
    90deg
    , rgb(252, 110, 81), rgb(246, 187, 66));
}

.blue-circle {
  background-image: linear-gradient(
    90deg
    , rgb(72, 207, 173), rgb(59, 175, 218));
}

.circle-svg {
  fill: white;
  height: 20px;
  width: 20px;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}

.plain-svg {
  height: 20px;
  width: 20px;
  position: relative;
  transform: translateY(10%);
}

.videos {
  margin-top: -40px;
}

.readings {
  margin-top: 20px;
}

.exercises {
  margin-top: 20px;
}
.videos-svg {
  fill: #2A73CC;
}

.readings-svg {
  fill: #1F8354;
}
.exercises-svg {
  fill: #0156B8;
}

.videos-count, .readings-count, .exercises-count {
  display: grid;
  grid-template-columns: 50px 350px;
}

.videos-count-text, .readings-count-text, .exercises-count-text {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.video, .reading, .exercise {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.875rem;
  font-weight: normal;
}

.hidden {
  display: none;
}

hr {
  background-color: white;
  opacity: .5;
  height: 0px;
  width: 100%
}

.lesson-divider {
  margin-bottom: 60px;
}

.exercise-divider {
  margin-bottom: 60px;
}

.divider {
  margin-bottom: 55px;
}
